
body{
font:15px/1.5 em Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
background-color:#f4f4f4;
}

/* Global styles */

.container{
	width: 80%;
	margin: auto;
	overflow:hidden;
}

ul{
	margin: 0;
	padding: 0;
}

.button{
	height: 38px;
	background: green;
	border: 0;
	padding: 0 20px;
	color: #fff;
	font-weight: bold;
}

/* Header Styles */

header{
	background-color: #33ddff;
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}

header a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
}

header li{
	list-style: none;
	float: left;
	padding: 0 20px;
}

header #logo{
	float: left;
}

header #logo h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 15px;
}

header .highlight, header .current a{
	color: green;
	font-weight: bold;
}

header a:hover{
	color: green;
	font-weight: bold;
}

/* Showcase */
#showcase{
	min-height: 400px;
	background: url('../img/showcase.jpg') no-repeat 0 -400px;
	text-align: center;
	color: #fff;
}

#showcase h1{
	margin: 100px 0 10px 0;
	font-size: 55px;
}

#showcase p{
	font-size: 20px;
}

/* Subscribe area */
#subscribe{
	padding: 15px;
	color: white;
	background-color: #33ddff;
}

#subscribe h1{
	float: left;
}

#subscribe form{
	float: right;
	margin-top: 15px;
}

#subscribe input[type=email]{
	padding: 4px;
	height: 25px;
	width: 250px;
}

/* Boxes */

#boxes{
	margin-top: 20px;
}

#boxes .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#boxes .box img{
	width: 90px;
}

#css-logo{
	width: 90px;
	height: 90px;
}

#seo-logo{
	height: 100px;
    width: 120px!important;
}

/* Footer */

#main-footer{
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	background-color: #33ddff;
	color: #fff;
	font-weight: bold;
}